body { margin: 0; }
* { box-sizing: border-box;}

.bookletWrap {
  page-break-after: always;
}

.booklet {
  width: 100%;
}

.booklet td {
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 10px;
  height: 100px;
  vertical-align: baseline;
}

tr.head td {
  height: 10px !important;
  background: #e0e0e0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.container {
  padding: 0 50px;
}

h1 {
  font-family: Arial;
  margin: 10px 0 0 0;
}

.kwSpan {
  font-family: Arial;
  margin-bottom: 20px;
  display: block;
}
span.title {
  display: block;
  font-family: Arial;
  font-size: 13px;
  padding-top: 2px;
  border-top: 1px solid black;
  width: 250px;
  margin-top: 70px;
  margin-bottom: 40px;
}
.signature {
  display: inline-block;
  margin-right: 75px;
}